<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.example.amit.kaastkaar"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- For firebase to connect with its online Database -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".login.PasswordResetActivity"
            android:label="@string/title_resetPassword"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".login.SignUpActivity"
            android:label="@string/title_signup_screen"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".login.LoginActivity"
            android:label="@string/title_login_screen"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".login.LandingPage"
            android:label="@string/title_landing_page"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>
        <activity
            android:name=".login.WelcomeScreen"
            android:label="@string/title_welcome_screen"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
    </application>

</manifest>